<%- include("partials/header.ejs") %> 


<ul>
    <% if(locals.teste) {%>
       <% teste.forEach((item, index) =>{ %>


        <li id="item <%= index +1 %>">

            <p><%= item %> ID: <%= index + 1 %></p>
        </li>
       <%}) %>
       
    <% }else{ %>
        <p>Escreva sua nota</p>
    <% } %>
</ul>

<form action="/submit" method="post">
  <input type="text" name="nota1" id="<% teste.item%>">
  <input type="submit" value="ok" />
</form>

<%- include("partials/footer.ejs") %>
